.nav-elements{
    width: 90%;
    margin: auto;
}
.introduction{
    width: 90%;
    margin:auto;
}
.intro-text{
    margin-top: 14%;
}
.intro-img{
    margin-top: 5%;
}
.intro-para{
    font-size: 22px;
}
.specials{
    text-align: center;
}
.card{
    text-align: center;
}
@media only screen and (max-width: 768px){
    .introduction{
       text-align: center;
    }
}